.modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.modal-wrapper:last-child {
    background: rgba(0, 0,0,0.5);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #111;
}

.modal-title {
    text-align: center;
    padding: 0.5rem;
    background: #222;
}

.modal-buttons {
    text-align: center;
    background: #222;
}

.modal-buttons button {
    padding: 0.5rem;
}